In [1]:
from datetime import datetime

In [2]:
now = datetime.now()
now

datetime.datetime(2022, 6, 30, 13, 41, 29, 77593)

In [3]:
from datetime import timedelta

In [4]:
start = datetime(2022, 1, 21)
start + timedelta(5)

datetime.datetime(2022, 1, 26, 0, 0)

In [5]:
start - 3 * timedelta(8)

datetime.datetime(2021, 12, 28, 0, 0)

In [6]:
str(start)

'2022-01-21 00:00:00'

In [7]:
from dateutil.parser import parse

In [8]:
parse('2004-9-9')

datetime.datetime(2004, 9, 9, 0, 0)

In [9]:
parse('Jan 31, 1997 10:40 PM')

datetime.datetime(1997, 1, 31, 22, 40)

In [10]:
parse('9-9-2004', dayfirst=True)

datetime.datetime(2004, 9, 9, 0, 0)

In [11]:
import pandas as pd
import numpy as np

In [12]:
dates = ['13-2-2021', '14-12-2021']
pd.to_datetime(dates)

DatetimeIndex(['2021-02-13', '2021-12-14'], dtype='datetime64[ns]', freq=None)

In [13]:
pd.to_datetime(dates + [None])

DatetimeIndex(['2021-02-13', '2021-12-14', 'NaT'], dtype='datetime64[ns]', freq=None)

In [14]:
dates = [datetime(2022, 1, _) for _ in np.arange(1, 12, 2)]
ts = pd.Series(np.random.randn(len(dates)), index=dates)
ts

2022-01-01    0.150979
2022-01-03    0.944483
2022-01-05   -1.040266
2022-01-07    1.254855
2022-01-09    1.113478
2022-01-11   -0.264984
dtype: float64

In [15]:
type(ts)

pandas.core.series.Series

In [16]:
ts.index

DatetimeIndex(['2022-01-01', '2022-01-03', '2022-01-05', '2022-01-07',
               '2022-01-09', '2022-01-11'],
              dtype='datetime64[ns]', freq=None)

In [17]:
ts.index.dtype

dtype('<M8[ns]')

In [18]:
ts.index[0]

Timestamp('2022-01-01 00:00:00')

In [19]:
ts['2022-01-01']

0.15097938018408705

In [20]:
ts['2022/01/01']

0.15097938018408705

In [21]:
ts['20220101']

0.15097938018408705

In [22]:
long_ts = pd.Series(
    np.random.randn(1000),
    index=pd.date_range('1-1-2000', periods=1000))
long_ts

2000-01-01   -0.899311
2000-01-02   -1.294123
2000-01-03    0.571227
2000-01-04   -0.091065
2000-01-05   -0.570164
                ...
2002-09-22   -1.087173
2002-09-23   -0.284545
2002-09-24    0.495679
2002-09-25   -0.141977
2002-09-26    0.384434
Freq: D, Length: 1000, dtype: float64

In [23]:
long_ts['2000']

2000-01-01   -0.899311
2000-01-02   -1.294123
2000-01-03    0.571227
2000-01-04   -0.091065
2000-01-05   -0.570164
                ...
2000-12-27    1.313324
2000-12-28    0.089498
2000-12-29   -0.179624
2000-12-30   -0.105605
2000-12-31   -0.506884
Freq: D, Length: 366, dtype: float64

In [24]:
long_ts['2000-05']

2000-05-01    0.128133
2000-05-02   -0.378737
2000-05-03   -0.005586
2000-05-04    1.089392
2000-05-05    1.882143
2000-05-06    1.237589
2000-05-07    0.529299
2000-05-08   -0.195221
2000-05-09    1.924230
2000-05-10    1.038072
2000-05-11   -2.734222
2000-05-12   -0.387776
2000-05-13   -0.736910
2000-05-14    0.576669
2000-05-15    0.387929
2000-05-16   -0.171632
2000-05-17    1.120406
2000-05-18    2.139711
2000-05-19    0.196208
2000-05-20    0.985494
2000-05-21   -0.911369
2000-05-22    0.058324
2000-05-23    1.663980
2000-05-24   -0.713207
2000-05-25    0.307214
2000-05-26   -0.384672
2000-05-27    0.197686
2000-05-28    1.220822
2000-05-29    0.156289
2000-05-30   -1.994906
2000-05-31   -0.026765
Freq: D, dtype: float64

In [25]:
long_ts['2000-05': '2000-07']

2000-05-01    0.128133
2000-05-02   -0.378737
2000-05-03   -0.005586
2000-05-04    1.089392
2000-05-05    1.882143
                ...
2000-07-27    0.720879
2000-07-28    0.413682
2000-07-29    1.220142
2000-07-30   -1.279931
2000-07-31   -0.597817
Freq: D, Length: 92, dtype: float64

In [26]:
long_ts['2000-05': '2000-07': 3]

2000-05-01    0.128133
2000-05-04    1.089392
2000-05-07    0.529299
2000-05-10    1.038072
2000-05-13   -0.736910
2000-05-16   -0.171632
2000-05-19    0.196208
2000-05-22    0.058324
2000-05-25    0.307214
2000-05-28    1.220822
2000-05-31   -0.026765
2000-06-03    0.109351
2000-06-06   -2.039443
2000-06-09    0.063803
2000-06-12    0.079173
2000-06-15   -0.006922
2000-06-18    1.582695
2000-06-21   -0.386104
2000-06-24   -0.673348
2000-06-27    0.446532
2000-06-30    2.273425
2000-07-03   -1.534723
2000-07-06    1.082884
2000-07-09   -1.049995
2000-07-12    0.860931
2000-07-15    1.976058
2000-07-18   -1.458469
2000-07-21    0.911623
2000-07-24   -0.261140
2000-07-27    0.720879
2000-07-30   -1.279931
Freq: 3D, dtype: float64

In [27]:
dates = pd.DatetimeIndex(
    ['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index = dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [28]:
dup_ts.index.is_unique

False

In [29]:
dup_ts['1/1/2000']

0

In [30]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [31]:
pd.date_range('4-1-2012', '7-1-2012')

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01', '2012-06-02', '2012-06-03',
               '2012-06-04', '2012-06-05', '2012-06-06', '2012-06-07',
               '2012-06-08', '2012-06-09', '2012-06-10', '2012-06-11',
               '2012-06-12', '2012-06-13', '2012-06-14', '2012-06-15',
               '2012-06-16', '2012-06-17', '2012-06-18', '2012-06-19',
               '2012-06-20', '2012-06-21', '2012-06-22', '2012-06-23',
               '2012-06-24', '2012-06-25', '2012-06-26', '2012-06-27',
               '2012-06-28', '2012-06-29', '2012-06-30', '2012-07-01'],
              dtype='datetime64[ns]', freq='D')

In [32]:
pd.date_range(start='4-1-2012', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [33]:
pd.date_range(end='4-20-2012', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [34]:
pd.date_range('2022-1-1 12:56:31', periods=5)

DatetimeIndex(['2022-01-01 12:56:31', '2022-01-02 12:56:31',
               '2022-01-03 12:56:31', '2022-01-04 12:56:31',
               '2022-01-05 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [35]:
pd.date_range('2022-1-1 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05'],
              dtype='datetime64[ns]', freq='D')

In [36]:
pd.date_range('2022-1-1', '2022-2-1', freq='4H')

DatetimeIndex(['2022-01-01 00:00:00', '2022-01-01 04:00:00',
               '2022-01-01 08:00:00', '2022-01-01 12:00:00',
               '2022-01-01 16:00:00', '2022-01-01 20:00:00',
               '2022-01-02 00:00:00', '2022-01-02 04:00:00',
               '2022-01-02 08:00:00', '2022-01-02 12:00:00',
               ...
               '2022-01-30 12:00:00', '2022-01-30 16:00:00',
               '2022-01-30 20:00:00', '2022-01-31 00:00:00',
               '2022-01-31 04:00:00', '2022-01-31 08:00:00',
               '2022-01-31 12:00:00', '2022-01-31 16:00:00',
               '2022-01-31 20:00:00', '2022-02-01 00:00:00'],
              dtype='datetime64[ns]', length=187, freq='4H')

In [37]:
pd.date_range('2022-1-1', periods=10, freq='1H30MIN')

DatetimeIndex(['2022-01-01 00:00:00', '2022-01-01 01:30:00',
               '2022-01-01 03:00:00', '2022-01-01 04:30:00',
               '2022-01-01 06:00:00', '2022-01-01 07:30:00',
               '2022-01-01 09:00:00', '2022-01-01 10:30:00',
               '2022-01-01 12:00:00', '2022-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [38]:
pd.date_range(start='2022-06-01' , end=datetime.now(), freq="B", normalize=True)

DatetimeIndex(['2022-06-01', '2022-06-02', '2022-06-03', '2022-06-06',
               '2022-06-07', '2022-06-08', '2022-06-09', '2022-06-10',
               '2022-06-13', '2022-06-14', '2022-06-15', '2022-06-16',
               '2022-06-17', '2022-06-20', '2022-06-21', '2022-06-22',
               '2022-06-23', '2022-06-24', '2022-06-27', '2022-06-28',
               '2022-06-29', '2022-06-30'],
              dtype='datetime64[ns]', freq='B')

In [39]:
ts = pd.Series(
    np.random.randn(5),
    index=pd.date_range('1-1-2022', periods=5, freq="M"))
ts

2022-01-31   -0.326893
2022-02-28   -0.946338
2022-03-31    0.742805
2022-04-30    0.915300
2022-05-31    1.798428
Freq: M, dtype: float64

In [40]:
ts.shift(2)

2022-01-31         NaN
2022-02-28         NaN
2022-03-31   -0.326893
2022-04-30   -0.946338
2022-05-31    0.742805
Freq: M, dtype: float64

In [41]:
ts.shift(-2)

2022-01-31    0.742805
2022-02-28    0.915300
2022-03-31    1.798428
2022-04-30         NaN
2022-05-31         NaN
Freq: M, dtype: float64

In [42]:
ts.shift(2, freq="M")

2022-03-31   -0.326893
2022-04-30   -0.946338
2022-05-31    0.742805
2022-06-30    0.915300
2022-07-31    1.798428
Freq: M, dtype: float64

In [43]:
ts.shift(3, freq="D")

2022-02-03   -0.326893
2022-03-03   -0.946338
2022-04-03    0.742805
2022-05-03    0.915300
2022-06-03    1.798428
dtype: float64

In [44]:
ts.shift(1, freq="3D")

2022-02-03   -0.326893
2022-03-03   -0.946338
2022-04-03    0.742805
2022-05-03    0.915300
2022-06-03    1.798428
dtype: float64

In [45]:
ts.shift(1, freq="90MIN")

2022-01-31 01:30:00   -0.326893
2022-02-28 01:30:00   -0.946338
2022-03-31 01:30:00    0.742805
2022-04-30 01:30:00    0.915300
2022-05-31 01:30:00    1.798428
dtype: float64

In [46]:
import pytz

In [47]:
tz = pytz.timezone('US/Eastern')
tz

In [48]:
ts = pd.date_range('2022-1-1', periods=10, freq='20H30MIN', tz="UTC")
ts

DatetimeIndex(['2022-01-01 00:00:00+00:00', '2022-01-01 20:30:00+00:00',
               '2022-01-02 17:00:00+00:00', '2022-01-03 13:30:00+00:00',
               '2022-01-04 10:00:00+00:00', '2022-01-05 06:30:00+00:00',
               '2022-01-06 03:00:00+00:00', '2022-01-06 23:30:00+00:00',
               '2022-01-07 20:00:00+00:00', '2022-01-08 16:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='1230T')

In [49]:
ts = pd.date_range('2022-1-1', periods=10, freq='20H30MIN',)
ts = ts.tz_localize("UTC")
ts

DatetimeIndex(['2022-01-01 00:00:00+00:00', '2022-01-01 20:30:00+00:00',
               '2022-01-02 17:00:00+00:00', '2022-01-03 13:30:00+00:00',
               '2022-01-04 10:00:00+00:00', '2022-01-05 06:30:00+00:00',
               '2022-01-06 03:00:00+00:00', '2022-01-06 23:30:00+00:00',
               '2022-01-07 20:00:00+00:00', '2022-01-08 16:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='1230T')

In [50]:
ts.tz_convert("US/Eastern")

DatetimeIndex(['2021-12-31 19:00:00-05:00', '2022-01-01 15:30:00-05:00',
               '2022-01-02 12:00:00-05:00', '2022-01-03 08:30:00-05:00',
               '2022-01-04 05:00:00-05:00', '2022-01-05 01:30:00-05:00',
               '2022-01-05 22:00:00-05:00', '2022-01-06 18:30:00-05:00',
               '2022-01-07 15:00:00-05:00', '2022-01-08 11:30:00-05:00'],
              dtype='datetime64[ns, US/Eastern]', freq='1230T')

In [51]:
ts.tz_convert("Europe/Kiev")

DatetimeIndex(['2022-01-01 02:00:00+02:00', '2022-01-01 22:30:00+02:00',
               '2022-01-02 19:00:00+02:00', '2022-01-03 15:30:00+02:00',
               '2022-01-04 12:00:00+02:00', '2022-01-05 08:30:00+02:00',
               '2022-01-06 05:00:00+02:00', '2022-01-07 01:30:00+02:00',
               '2022-01-07 22:00:00+02:00', '2022-01-08 18:30:00+02:00'],
              dtype='datetime64[ns, Europe/Kiev]', freq='1230T')

In [52]:
pd.Timestamp("2022-1-1 4:00").tz_localize("Europe/Kiev")

Timestamp('2022-01-01 04:00:00+0200', tz='Europe/Kiev')

In [53]:
pd.Timestamp("2022-1-1 4:00", tz="Europe/Kiev")

Timestamp('2022-01-01 04:00:00+0200', tz='Europe/Kiev')

In [54]:
ts = pd.Series(
    np.random.randn(100), 
    index=pd.date_range('1-1-2020', periods=100, freq="D"))

In [55]:
ts.resample('M').mean()

2020-01-31    0.110272
2020-02-29    0.109955
2020-03-31    0.028740
2020-04-30   -0.518818
Freq: M, dtype: float64

In [56]:
ts.resample('M', kind="period").mean()

2020-01    0.110272
2020-02    0.109955
2020-03    0.028740
2020-04   -0.518818
Freq: M, dtype: float64

In [57]:
ts = pd.Series(
    np.arange(12),
    index=pd.date_range('1-1-2020', periods=12, freq="min"))
ts

2020-01-01 00:00:00     0
2020-01-01 00:01:00     1
2020-01-01 00:02:00     2
2020-01-01 00:03:00     3
2020-01-01 00:04:00     4
2020-01-01 00:05:00     5
2020-01-01 00:06:00     6
2020-01-01 00:07:00     7
2020-01-01 00:08:00     8
2020-01-01 00:09:00     9
2020-01-01 00:10:00    10
2020-01-01 00:11:00    11
Freq: T, dtype: int32

In [58]:
ts.resample('5min', closed="left").sum()

2020-01-01 00:00:00    10
2020-01-01 00:05:00    35
2020-01-01 00:10:00    21
Freq: 5T, dtype: int32

In [59]:
ts.resample('5min', closed="left").ohlc()

                     open  high  low  close
2020-01-01 00:00:00     0     4    0      4
2020-01-01 00:05:00     5     9    5      9
2020-01-01 00:10:00    10    11   10     11